In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [3]:
df = pd.read_csv("twitter4000.csv",encoding="latin1")

In [4]:
df.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [5]:
df.sentiment.value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

### Word Counts
- len of words in a sentence

In [6]:
df['word_counts'] = df.twitts.apply(lambda x:len(x.split()))
df.head()

                                              twitts  sentiment  word_counts
0  is bored and wants to watch a movie  any sugge...          0           10
1           back in miami.  waiting to unboard ship           0            7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0           12
3                  ughhh i am so tired  blahhhhhhhhh          0            6
4  @mandagoforth me bad! It's funny though. Zacha...          0           26

In [7]:
df['word_counts'].min()

1

In [8]:
df['word_counts'].max()

32

In [9]:
df[df.word_counts==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1

### Character Counts

In [10]:
def char_counts(x):
    s = x.split()
    x = "".join(s)
    return len(x)

In [11]:
df["char_counts"] = df['twitts'].apply(lambda x:char_counts(x))

In [13]:
df.head()

,twitts,sentiment,word_counts,char_counts
0,is bored and wants to watch a movie any sugge...,0,10,43
1,back in miami. waiting to unboard ship,0,7,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54
3,ughhh i am so tired blahhhhhhhhh,0,6,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116