In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [3]:
df = pd.read_csv('twitter4000.csv",encoding="latin1")

In [4]:
df.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [5]:
df.sentiment.value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

### Word Counts
- len of words in a sentence

In [6]:
df['word_counts'] = df.twitts.apply(lambda x:len(x.split()))
df.head()

                                              twitts  sentiment  word_counts
0  is bored and wants to watch a movie  any sugge...          0           10
1           back in miami.  waiting to unboard ship           0            7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0           12
3                  ughhh i am so tired  blahhhhhhhhh          0            6
4  @mandagoforth me bad! It's funny though. Zacha...          0           26

In [7]:
df['word_counts'].min()

1

In [8]:
df['word_counts'].max()

32

In [9]:
df[df.word_counts==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1

### Character Counts

In [10]:
def char_counts(x):
    s = x.split()
    x = "".join(s)
    return len(x)

In [11]:
df["char_counts"] = df['twitts'].apply(lambda x:char_counts(x))

In [12]:
df.head()

,twitts,sentiment,word_counts,char_counts
0,is bored and wants to watch a movie any sugge...,0,10,43
1,back in miami. waiting to unboard ship,0,7,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54
3,ughhh i am so tired blahhhhhhhhh,0,6,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116

### Average Word Length

In [13]:
x = "hello world" # 10/2 = 5; 10 total chars; 2 total words

In [14]:
df['average_word_length'] =  df['char_counts']/ df['word_counts']
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000
1,back in miami. waiting to unboard ship,0,7,32,4.571429
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538

### Stop words count
- Stop words occur frequently in corpus
- These words do not represent the context for the sentence
- we can remove stopwords.
- in sentiment analysis not is a important word.

In [16]:
print(stopwords) # imported from spacy

{'without', 'whose', 'either', 'everything', 'them', 'how', 'under', 'forty', 'rather', 'too', 'several', 'another', 'over', 'again', 'twenty', 'therefore', 'had', 'although', "'m", 'off', 'during', 'except', 'together', 'whither', '’ll', 'many', 'sometime', 'that', 'then', 'enough', 'and', 'becoming', "n't", 'however', 'various', 'i', 'whenever', 'about', 'fifteen', 'regarding', 'mostly', 'must', 'the', 'beside', 'of', 'was', 'five', 'hence', "'ve", 'me', 'anyway', 'have', 'into', 'us', 'now', 'as', 'though', 'anything', 'empty', 'unless', 'herein', 'those', 'who', 'itself', 'nine', 'because', '‘s', 'same', 'two', 'doing', 'almost', 'noone', 'while', 'somehow', 'nevertheless', 'hundred', 'yourself', 'n’t', 're', 'full', 'her', 'when', 'by', 'hereby', 'latterly', 'six', '‘d', 'quite', 'from', 'please', 'against', 'whoever', 'someone', 'often', 'these', 'get', 'name', 'do', 'otherwise', 'what', 'their', 'therein', 'are', 'much', 'bottom', 'among', 'than', 'anyone', 'others', 'became', 'due', 'which', 'my', 'onto', 'using', 'move', 'within', 'is', 'yourselves', 'thru', 'before', 'nothing', 'even', 'go', 'it', 'other', 'she', 'amongst', 'further', 'make', 'if', 'hers', 'being', "'ll", 'moreover', 'back', 'might', 'say', 'see', 'has', 'somewhere', 'first', 'yours', 'keep', 'here', 'ever', 'throughout', 'else', 'indeed', 'did', 'top', 'one', 'should', 'nobody', 'hereafter', 'could', 'in', 'at', 'on', 'his', 'still', 'becomes', 'towards', 'he', 'thereafter', 'yet', 'a', 'side', 'thereupon', 'take', 'part', 'become', 'to', 'twelve', 'why', 'seemed', 'nor', 'anyhow', 'seems', 'whom', '‘ve', 'formerly', 'made', 'everyone', 'something', 'above', 'perhaps', 'very', 'does', "'re", '’re', 'after', 'each', 'themselves', 'serious', 'cannot', 'latter', 'always', 'through', 'upon', 'around', 'below', 'front', 'call', 'done', 'third', 'seem', 'would', '’d', 'for', 'no', 'well', 'anywhere', '’m', 'beyond', 'everywhere', 'thence', 'himself', 'meanwhile', 'alone', 'its', 'but', 'myself', 'down', 'whereupon', 'whence', 'herself', 'whether', 'were', 'we', 'can', 'an', 'whereas', 'eight', 'only', "'d", 'they', 'last', 'across', 'every', 'neither', 'n‘t', 'elsewhere', 'never', 'via', 'wherein', 'afterwards', 'none', 'eleven', 'whatever', 'used', 'most', 'behind', 'not', 'with', 'whereafter', 'since', 'all', 'three', 'any', 'our', 'out', 'sixty', 'there', 'whole', 'ourselves', 'just', "'s", 'ten', 'ours', 'toward', 'may', 'both', 'seeming', 'you', 'beforehand', 'wherever', 'thereby', 'until', 'so', 'mine', 'hereupon', 'am', 'former', 'nowhere', 'few', '‘re', '’s', 'him', 'own', 'ca', 'will', 'per', 'namely', 'been', '‘m', 'sometimes', 'four', 'whereby', 'put', 'once', 'less', 'least', 'between', 'more', 'or', 'thus', 'up', 'amount', '‘ll', 'next', 'give', 'along', 'already', 'show', '’ve', 'be', 'also', 'fifty', 'where', 'some', 'this', 'really', 'such', 'your', 'besides'}

In [18]:
len(stopwords)

326

In [20]:
x = "this is the text data"
x.split()

['this', 'is', 'the', 'text', 'data']

In [23]:
len([i for i in x.split() if i in stopwords])

3

In [24]:
df['stop_words_len'] = df.twitts.apply(lambda x:len([i for i in x.split() if i in stopwords]))
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13