In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [3]:
df = pd.read_csv("twitter4000.csv",encoding="latin1")

In [4]:
df.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [5]:
df.sentiment.value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

### Word Counts
- len of words in a sentence

In [6]:
df['word_counts'] = df.twitts.apply(lambda x:len(x.split()))
df.head()

                                              twitts  sentiment  word_counts
0  is bored and wants to watch a movie  any sugge...          0           10
1           back in miami.  waiting to unboard ship           0            7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0           12
3                  ughhh i am so tired  blahhhhhhhhh          0            6
4  @mandagoforth me bad! It's funny though. Zacha...          0           26

In [7]:
df['word_counts'].min()

1

In [8]:
df['word_counts'].max()

32

In [9]:
df[df.word_counts==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1

### Character Counts

In [10]:
def char_counts(x):
    s = x.split()
    x = "".join(s)
    return len(x)

In [11]:
df["char_counts"] = df['twitts'].apply(lambda x:char_counts(x))

In [12]:
df.head()

,twitts,sentiment,word_counts,char_counts
0,is bored and wants to watch a movie any sugge...,0,10,43
1,back in miami. waiting to unboard ship,0,7,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54
3,ughhh i am so tired blahhhhhhhhh,0,6,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116

### Average Word Length

In [13]:
x = "hello world" # 10/2 = 5; 10 total chars; 2 total words

In [14]:
df['average_word_length'] =  df['char_counts']/ df['word_counts']
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000
1,back in miami. waiting to unboard ship,0,7,32,4.571429
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538

### Stop words count
- Stop words occur frequently in corpus
- These words do not represent the context for the sentence
- we can remove stopwords.
- in sentiment analysis not is a important word.

In [15]:
print(stopwords) # imported from spacy

{'another', 'amongst', 'therefore', 'seeming', 'hereby', 'keep', 'however', 'beyond', 'six', 'while', 'that', "'ll", 'sometime', 'i', 'seemed', 'should', 'cannot', 'therein', 'she', 'but', 'hereupon', 'on', 'take', 'latterly', 'only', 'a', 'indeed', 'would', 'us', 'whereupon', 'elsewhere', 'too', 'me', 'here', 'everything', 'whether', 'ourselves', 'can', 'under', 'others', 'is', 'has', 'side', 'hundred', 'say', 'were', 'some', 'myself', 'using', 'again', 'nor', 'themselves', 'used', 'bottom', 'twenty', 'perhaps', 'somehow', 'into', 'part', 'both', 'why', 'out', 'who', 'hereafter', 'anyway', 'between', 'then', 'few', 'thereby', "'re", 'him', 'yours', 'every', 're', 'than', 'among', 'these', 'very', 'become', 'whereby', 'how', 'as', 'could', 'to', 'any', 'after', 'against', 'throughout', 'third', 'really', 'one', 'unless', 'somewhere', 'within', 'wherein', 'do', 'back', 'up', 'everyone', 'several', 'most', 'my', 'its', 'their', 'mine', 'regarding', 'just', 'though', 'they', 'whoever', 'from', 'no', 'onto', 'amount', 'seems', 'it', 'ever', 'until', 'get', 'yourselves', 'your', '’ll', 'besides', 'always', 'in', 'there', 'we', 'last', 'hence', 'rather', 'almost', 'top', 'since', 'n‘t', 'so', '‘m', 'his', 'whereas', '‘s', 'our', '‘ve', 'whom', 'herself', 'thence', 'whither', 'four', 'enough', 'being', 'this', 'more', 'through', 'doing', 'still', 'least', 'which', '‘d', 'further', 'fifty', 'whereafter', 'already', 'each', 'whenever', 'two', 'the', 'about', 'will', 'an', 'been', '‘ll', 'former', 'sixty', 'quite', 'whatever', 'same', "n't", 'such', 'anything', 'name', 'and', 'first', 'afterwards', 'made', 'full', 'above', 'move', 'due', 'had', 'yourself', 'nobody', "'d", 'what', 'below', 'n’t', 'something', 'anyhow', 'you', 'fifteen', 'beside', 'did', 'ca', 'whose', 'noone', 'now', 'at', 'wherever', 'five', 'thru', 'next', "'s", 'by', 'seem', 'towards', 'must', 'neither', 'front', 'various', '‘re', 'namely', 'becomes', 'otherwise', 'anywhere', 'whole', 'became', 'nothing', 'either', 'himself', 'becoming', 'along', 'nevertheless', 'itself', 'go', 'ours', 'of', 'upon', 'see', 'call', 'moreover', 'if', 'her', 'with', 'over', '’d', 'via', 'when', 'off', 'during', 'please', 'before', 'someone', 'twelve', 'herein', 'because', 'without', "'m", 'once', 'put', 'anyone', 'much', 'all', '’s', 'eight', 'might', 'empty', 'was', 'often', 'show', "'ve", 'beforehand', 'else', 'never', 'may', 'he', 'formerly', 'for', 'whence', 'nowhere', 'many', 'make', 'meanwhile', 'none', 'although', 'thus', 'ten', 'be', 'everywhere', 'them', '’re', 'per', 'those', 'hers', 'less', 'thereupon', 'thereafter', 'behind', 'forty', 'mostly', 'where', 'give', 'does', '’ve', 'together', 'or', 'serious', 'sometimes', 'done', 'have', 'alone', 'toward', 'yet', 'down', 'three', 'own', 'across', 'except', 'are', 'around', 'even', 'eleven', 'other', 'am', 'nine', '’m', 'also', 'latter', 'not', 'well'}

In [16]:
len(stopwords)

326

In [17]:
x = "this is the text data"
x.split()

['this', 'is', 'the', 'text', 'data']

In [18]:
len([i for i in x.split() if i in stopwords])

3

In [19]:
df['stop_words_len'] = df.twitts.apply(lambda x:len([i for i in x.split() if i in stopwords]))
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13

### Count # and @

In [20]:
x = 'this is a #hastag and this is mention'
x.split()

['this', 'is', 'a', '#hastag', 'and', 'this', 'is', 'mention']

In [22]:
df["hashtagcount"] = df.twitts.apply(lambda x:len([i for i in x.split() if i.startswith("#")]))
df["@count"] = df.twitts.apply(lambda x:len([i for i in x.split() if i.startswith("@")]))
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len,hashtagcount,@count
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,0,2