In [34]:
import pandas as pd
import numpy as np
import spacy

In [35]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [36]:
df = pd.read_csv("twitter4000.csv",encoding="latin1")

In [37]:
df.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [38]:
df.sentiment.value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

### Word Counts
- len of words in a sentence

In [39]:
df['word_counts'] = df.twitts.apply(lambda x:len(x.split()))
df.head()

                                              twitts  sentiment  word_counts
0  is bored and wants to watch a movie  any sugge...          0           10
1           back in miami.  waiting to unboard ship           0            7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0           12
3                  ughhh i am so tired  blahhhhhhhhh          0            6
4  @mandagoforth me bad! It's funny though. Zacha...          0           26

In [40]:
df['word_counts'].min()

1

In [41]:
df['word_counts'].max()

32

In [42]:
df[df.word_counts==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1

### Character Counts

In [43]:
def char_counts(x):
    s = x.split()
    x = "".join(s)
    return len(x)

In [44]:
df["char_counts"] = df['twitts'].apply(lambda x:char_counts(x))

In [45]:
df.head()

,twitts,sentiment,word_counts,char_counts
0,is bored and wants to watch a movie any sugge...,0,10,43
1,back in miami. waiting to unboard ship,0,7,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54
3,ughhh i am so tired blahhhhhhhhh,0,6,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116

### Average Word Length

In [46]:
x = "hello world" # 10/2 = 5; 10 total chars; 2 total words

In [47]:
df['average_word_length'] =  df['char_counts']/ df['word_counts']
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000
1,back in miami. waiting to unboard ship,0,7,32,4.571429
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538

### Stop words count
- Stop words occur frequently in corpus
- These words do not represent the context for the sentence
- we can remove stopwords.
- in sentiment analysis not is a important word.

In [48]:
print(stopwords) # imported from spacy

{'also', 'under', 'since', 'can', 'hence', 'a', 'whom', 'eleven', 'sometime', 'unless', 'anyhow', 'another', 'everything', 'ca', 'hereafter', 'not', 'get', 'elsewhere', 'although', 'two', 'whereafter', 'thereby', 'may', 'he', 'already', 'whatever', '’ve', 'serious', 'it', 'first', 'could', 'to', 'toward', 'all', 'were', 'its', 'was', 'formerly', 'show', 'ours', 'back', 'her', 'other', 'must', 'several', 'out', 'everywhere', 'himself', 'meanwhile', '‘m', 'might', 'whereby', 'yours', 'nine', 'side', 'doing', 'fifteen', 'own', 'ever', 'who', '‘d', 'less', 'around', 'beforehand', 're', 'my', 'and', 'will', 'besides', 'eight', 'an', 'them', 'but', 'did', 'beside', 'bottom', 'here', 'why', 'therefore', 'nevertheless', 'just', 'became', 'their', 'as', "'re", 'somehow', 'nobody', 'whereas', 'various', 'however', 'below', 'at', 'anything', 'behind', 'top', 'never', 'former', 'have', 'itself', 'thence', 'together', 'most', 'n’t', 'are', 'been', 'against', 'name', 'once', 'twenty', 'we', 'while', 'anywhere', 'almost', 'after', 'wherein', 'hundred', 'thereupon', '‘ve', 'go', '’re', 'seemed', "'s", 'four', 'on', 'then', '’d', 'would', 'everyone', 'some', 'myself', 'say', 'up', 'many', 'somewhere', 'whether', 'too', 'those', 'above', 'anyone', 'please', 'these', 'always', 'across', 'nothing', 'mine', 'thereafter', 'is', 'sixty', "'ll", 'become', 'every', 'sometimes', 'enough', 'in', 'his', 'quite', 'ten', '’s', 'i', 'really', 'seems', 'you', "'m", 'me', 'keep', 'the', 'of', 'which', 'yourself', 'herein', 'about', 'becoming', '‘re', 'ourselves', 'noone', 'your', 'via', 'both', 'though', 'throughout', 'do', 'per', 'yet', "n't", 'perhaps', 'again', 'through', 'themselves', 'whole', 'whose', 'there', 'whither', 'put', 'something', 'where', 'am', '‘ll', 'she', 'hereby', 'done', 'no', 'same', 'him', 'they', 'else', 'least', 'front', 'amount', 'empty', 'within', 'whoever', 'alone', 'amongst', 'six', 'n‘t', 'into', 'others', 'upon', 'without', 'whenever', 'latterly', 'next', 'full', 'before', 'more', 'further', 'often', 'over', 'being', 'onto', 'three', 'becomes', 'whereupon', 'forty', 'otherwise', 'along', 'made', '’m', 'give', 'our', 'last', 'what', 'each', 'us', 'beyond', 'one', 'if', 'herself', 'move', 'this', 'fifty', 'therein', 'still', 'call', 'much', "'d", 'nor', 'take', 'that', 'whence', 'among', 'seeming', 'off', 'how', 'from', 'seem', 'hereupon', 'neither', 'regarding', 'rather', 'or', 'when', 'hers', 'during', 'namely', 'few', 'make', 'only', 'either', 'with', 'thru', 'twelve', 'now', 'does', 'be', 'until', 'someone', 'part', 'wherever', 'because', 'latter', 'well', 'third', 'thus', 'none', 'between', 'had', 'used', 'indeed', 'towards', 'for', 'such', 'any', 'has', 'using', 'five', 'by', 'very', 'nowhere', 'than', 'even', 'due', 'cannot', 'moreover', 'afterwards', 'mostly', '’ll', 'down', 'anyway', 'so', 'see', 'except', 'yourselves', 'should', "'ve", '‘s'}

In [49]:
len(stopwords)

326

In [50]:
x = "this is the text data"
x.split()

['this', 'is', 'the', 'text', 'data']

In [51]:
len([i for i in x.split() if i in stopwords])

3

In [52]:
df['stop_words_len'] = df.twitts.apply(lambda x:len([i for i in x.split() if i in stopwords]))
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13

### Count # and @

In [53]:
x = 'this is a #hastag and this is mention'
x.split()

['this', 'is', 'a', '#hastag', 'and', 'this', 'is', 'mention']

In [54]:
df["hashtagcount"] = df.twitts.apply(lambda x:len([i for i in x.split() if i.startswith("#")]))
df["@count"] = df.twitts.apply(lambda x:len([i for i in x.split() if i.startswith("@")]))
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len,hashtagcount,@count
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,0,2

### Digit is present or not

In [55]:
df["Numeric_counts"] = df.twitts.apply(lambda x: len([i for i in x.split() if i.isdigit()]))

In [56]:
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len,hashtagcount,@count,Numeric_counts
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,0,2,0

### Upper Case Word Count

In [57]:
df["upper_words_count"] = df['twitts'].apply(lambda x:len([i for i in x.split() if i.isupper()]))
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len,hashtagcount,@count,Numeric_counts,upper_words_count
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,0,2,0,0

### Preprocessing And Cleaning

### Lower case conversion

In [58]:
df['twitts'] = df['twitts'].apply(lambda x: str(x).lower())
df.head()

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len,hashtagcount,@count,Numeric_counts,upper_words_count
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0,0
4,@mandagoforth me bad! it's funny though. zacha...,0,26,116,4.461538,13,0,2,0,0

### Contraction to expansion

In [59]:
contractions = { "ain't": "am not","aren't": "are not","can't": "cannot","can't've": "cannot have",
# "'cause": "because",
"could've": "could have","couldn't": "could not","couldn't've": "could not have","didn't": "did not","doesn't": "does not",
"don't": "do not","hadn't": "had not","hadn't've": "had not have","hasn't": "has not","haven't": "have not",
"he'd": "he had","he'd've": "he would have","he'll": "he will","he'll've": "he will have","he's": "he is",
"how'd": "how did","how'd'y": "how do you","how'll": "how will","I'd": "I had","I'd've": "I would have",
"I'll": "I will","I'll've": "I will have","I'm": "I am","I've": "I have","isn't": "is not","it'd": "it had",
"it'd've": "it would have","it'll": "it will","it'll've": "it will have","it's": "it has","let's": "let us",
"ma'am": "madam","mayn't": "may not","might've": "might have","mightn't": "might not","mightn't've": "might not have",
"must've": "must have","mustn't": "must not","mustn't've": "must not have","needn't": "need not",
"needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not","oughtn't've": "ought not have",
"shan't": "shall not","sha'n't": "shall not","shan't've": "shall not have","she'd": "she would",
"she'd've": "she would have","she'll": "she will","she'll've": "she will have","she's": "she is",
"should've": "should have","shouldn't": "should not","shouldn't've": "should not have","so've": "so have",
"so's": "so is","that'd": "that would","that'd've": "that would have","there'd've": "there would have",
"they'd've": "they would have","they'll": "they will","they'll've": "they will have","they're": "they are",
"they've": "they have","to've": "to have","wasn't": "was not","we'd": "we would","we'd've": "we would have",
"we'll": "we will","we'll've": "we will have","we're": "we are","we've": "we have","weren't": "were not",
"what'll": "what will","what'll've": "what will have","what're": "what are","what've": "what have",
"when've": "when have","where'd": "where did","where've": "where have","who'll": "who will",
"who'll've": "who will have","who's": "who is","who've": "who have","why've": "why have","will've": "will have",
"won't": "will not","won't've": "will not have","would've": "would have","wouldn't": "would not",
"wouldn't've": "would not have","y'all": "you all","y'all'd": "you all would","y'all'd've": "you all would have",
"y'all're": "you all are","y'all've": "you all have","you'd": "you would","you'd've": "you would have",
"you'll": "you will","you'll've": "you will have","you're": "you are","you've": "you have"
}

In [60]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value = contractions[key]
            x = x.replace(key,value)
        return x
    else:
        return x

In [61]:
cont_to_exp("I can't study")

'I cannot study'

In [62]:
%%timeit
df['twitts'] = df['twitts'].apply(lambda x : cont_to_exp(x))

142 ms ± 5.13 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [63]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts,average_word_length,stop_words_len,hashtagcount,@count,Numeric_counts,upper_words_count
572,"david carridine is off on his final adventure,...",0,17,88,5.176471,6,0,0,0,0
1512,trying to persuade my sister to watch j.o.n.a....,0,19,86,4.526316,9,0,0,0,1
442,@dexteraddict oh pls share when you have made ...,0,15,69,4.600000,4,0,1,0,1
3652,@equinox2009 glad to hear it has going well an...,1,15,72,4.800000,5,0,1,0,0
832,@angelicacidtrip sorry to hear.,0,4,28,7.000000,1,0,1,0,0